#contacto{
    padding: 0 10% 0 10% !important;
    margin-top: 100px;
}


#contacto h1 {
    font-size: 50px;
    margin-bottom: 50px;
}

#ff label {
    cursor: pointer;
    margin: 4px 0;
    color: #000000;
    display: block;
    font-weight: 800;

}

input, textarea {
    display: block;
    width: 100%;
    background-color: #ffffff;
    color: #000;
    border: 1px solid #000000;
    padding: 12px;
    margin-bottom: 25px;
    resize: none;
}

#contacto .form-contacto {
    color: #000000;

}

.sendButton {
    position: relative;
    height: auto;
    width: auto;
    text-align: center;
    cursor: pointer;
    padding: 15px;
    background-color: #FFFFFF;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

@media (min-width: 700px) {
    #contacto {
        padding: 0 10% 0 10% !important;
        margin-top: 150px;
    }
}