footer {
    width: 100%;
    height: 100px;
    bottom: 0;
    background: #ffffff;
    color: #000;
    position: fixed;
    left: 0;
    z-index: 100;
    border-top: #000000 solid 1px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

footer a {
    z-index: 200;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 15px 10px 10px 10px;
    border-bottom: #000000 solid 1px;

}

footer a:hover {
    background: #000;
    color: #FFFFFF;

}

footer p {
    width: 100%;
    height: 50px;
    font-size: 12px;
    text-align: center;
    padding: 15px 10px 10px 10px;

}

@media (min-width: 800px) {

    footer {
        width: 100%;
        height: 60px;
        bottom: 0;
        background: #ffffff;
        color: #000;
        position: fixed;
        left: 0;
        z-index: 100;
        border-top: #000000 solid 1px;
        display: flex;
        justify-content: left;
        flex-wrap: wrap;

    }

    footer a {
        position: relative;
        width: 300px;
        float: left;
        left: 0;
        border-right: 1px #000000 solid;
        height: auto;
        text-align: center;
        padding: 20px 20px;
        border-bottom: none;

    }

    footer p {
        position: absolute;
        width: 100%;
        height: auto;
        font-size: 12px;
        text-align: right;
        padding: 20px 20px;

    }
}