#button-close {
    display: none;
    position: relative;
    top: -40px;
    right: 0;
    float: right;
    width: 40px;
    height: 40px;
    border: 1px solid #000000;
    color: #000000;
    cursor: pointer;
    z-index: 5;
    text-align: center;
    padding-top: 4px;
    padding-left: 2px;
    font-size: 25px;

}

#manifiesto .container {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 100px;
    flex-wrap: wrap;
}

#manifiesto-bg {
    background-color: #ffffff;
    width: 100%;
    position: relative;
    padding: 20px 0 20px 0;
    z-index: 11;
}

#manifiesto .text2 {
    color: #000000;

}

#manifiesto p {
    font-size: 16px;
    line-height: 30px;
}

#manifiesto h1 {
    font-size: 40px;
    max-width: 200px;
    padding: 5px;
    width: auto;
    background-color: whitesmoke;
}

#manifiesto .menuList {
    padding: 77px 0 0 0;
    background-color: #FFFFFF;
    width: auto;
    text-align: center;
    z-index: 10 !important;
    position: relative;
    right: 0;
    height: auto;
    top: 0;
    display: flex;
}

.menuList li {
    overflow: hidden;
    display: block;
    right: 0;
    list-style: none;

}

.menuList li a, .menuList1 li a:focus {

    display: flex;
    background-color: #FFFFFF;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    margin: 0;
    text-decoration: none;
    color: #000;
    font-family: Verdana, Arial, Helvetica;
    font-size: 12px;
    font-weight: bold;
    padding: 15px;

}

.border-descargar {
    border-bottom: 1px solid #000000;
}

.linea {
    position: relative;
    padding: 0 !important;
    margin: 0 !important;
    height: 46px;
    border-left: 1px #000000 solid;
    border-top: 1px #000000 solid;
    border-right: 1px #000000 solid;

}

.menuList li a:hover {
    background-color: #000000;
    border-color: #000000;
    color: #FFFFFF;
}

hr {
    border-top: 1px solid #000000;
    height: 52.5px;
    margin-left: -140px;
    transform: rotate(155deg);
}

#nombre {
    display: none;
    color: #51b0af;
}

@media (min-width: 800px) {

    #manifiesto p {
        font-size: 20px;
        line-height: 30px;
    }

    #manifiesto h1 {
        font-size: 50px;
        color: #000;
        max-width: 245px;

    }

    #manifiesto .menuList {

        padding: 86px 0 0 0;
        background-color: #FFFFFF;
        width: auto;
        text-align: center;
        z-index: 10 !important;
        position: relative;
        right: 0;
        height: auto;
        top: 0;
        display: flex;

    }

    #manifiesto-bg {
        background-color: #ffffff;
        width: 100%;
        position: relative;
        padding: 20px 20% 20px 0;
        z-index: 11;
    }

    #manifiesto .container {
        display: -webkit-flex;
        display: flex;
        justify-content: right;
        margin-bottom: 100px;
        margin-top: 100px;
        flex-wrap: nowrap;
    }

}

