
#blog .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 50px;
}



#blog .video {
    position: relative;
    width: 100%;
    border: #000000 solid 1px;
    overflow: hidden;
    min-height: 300px;
    max-width: 500px;

}

#blog iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

#blog .text1 {
    width: 100%;
    height: auto;
    padding: 5% 5% 5% 5%;
    text-align: left;
    max-width: 400px;
}

#blog .text1 h1 {
    font-size: 40px;

}

#blog .text1 p {
    font-size: 16px;
    line-height: 30px;
}

.deco {
    border-bottom: #000000 2px solid;
    position: absolute;

}

@media (min-width: 1024px) {


    #blog .video {

        position: relative;
        width: 50%;
        height: 500px;
        border: #000000 solid 1px;
        overflow: hidden;
        display: flex;
        float: left;

    }

    #blog .text1 {
        width: 100%;
        height: 500px;
        padding: 10% 0% 5% 10%;
        text-align: left;
        max-width: 500px;
    }

    #blog .text1 h1 {
        font-size: 50px;

    }

    #blog .text1 p {
        font-size: 20px;
        line-height: 30px;

    }
}

/*.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/

/*.centrado {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: left;

}*/
