
#blog .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 50px;
}

#blog article:hover .social-video a {
    display: block;
}

#blog .video {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 300px;
    max-width: 500px;
    z-index: 2;

}

#blog iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 92%;

}

#blog .text-blog {
    width: 100%;
    height: auto;
    padding: 5% 5% 5% 5%;
    text-align: left;
    max-width: 400px;
}

#blog .text-blog h1 {
    font-size: 40px;

}

#blog .text-blog p {
    font-size: 16px;
    line-height: 30px;
}

.text-blog-decoration {
    border-bottom: #000000 2px solid;
    position: absolute;

}

#blog #likes {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

@media (min-width: 1024px) {

    #blog .video {

        position: relative;
        width: 50%;
        height: 500px;
        overflow: hidden;
        display: flex;
        float: left;

    }

    #blog .text-blog {
        width: 100%;
        height: 500px;
        padding: 10% 0 5% 10%;
        text-align: left;
        max-width: 500px;
    }

    #blog .text-blog h1 {
        font-size: 50px;

    }

    #blog .text-blog p {
        font-size: 20px;
        line-height: 30px;

    }

    #blog #likes {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
    }

    #blog iframe {
        height: 95%;

    }
}

